<nav class="bg-blue-500 shadow-lg fixed w-full z-50">

  <ul class="flex justify-around w-fit mx-auto">
    <li class="text-white hover:text-gray-200 cursor-pointer px-16 py-4 m-0" routerLink="/lights" routerLinkActive="border-b-2 bg-blue-900">Lights</li>
    <li class="text-white hover:text-gray-200 cursor-pointer px-16 py-4 m-0" routerLink="/about" routerLinkActive="border-b-2 bg-blue-900">About</li>
    <li class="text-white hover:text-gray-200 cursor-pointer px-16 py-4 m-0" routerLink="/contact" routerLinkActive="border-b-2 bg-blue-900">Contact</li>
  </ul>

</nav>
